version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      kotlin-hilt:
        patterns:
          - "org.jetbrains.kotlin*"
          - "*hilt*"
          - "*dagger*"
      androidx:
        patterns:
          - "androidx.*"
      testing:
        patterns:
          - "*test*"
          - "*mockk*"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      actions:
        patterns:
          - "*"
    commit-message:
      prefix: "chore"
      include: "scope"
